.sendContent {
  background: #fff;
  margin: 16px 0;
  padding: 20px 100px;
  overflow-y: auto !important;
  max-height: calc(100vh - 140px);
  .upload-img {
    float: left;
    &:hover {
      .mask {
        display: flex;
      }
    }
  }
  .mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    i {
      color: #fff;
      font-size: 40px;
      vertical-align: middle;
    }
  }
  /*样式改变代码-----------------------------------------------------*/
  /* 滚动条整体部分 */
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  /* 滚动条中能上下移动的小块 */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 5px;
  }
  /* scroll轨道背景 */
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
  }
  .vue-treeselect {
    line-height: 30px;

    // height: 30px;
  }

  >>> .vue-treeselect__control {
    height: 30px;
    line-height: 30px;
    &:focus {
      border: 1px solid rgba(55, 158, 252, 1);
    }
  }

  >>> .vue-treeselect__placeholder,
  .vue-treeselect__single-value {
    line-height: 30px;
  }

  >>> .vue-treeselect--focused {
    .vue-treeselect__control {
      border-color: #379efc;
      box-shadow: none;
    }
  }
  .vue-treeselect__multi-value-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 100;
    color: #292929;
  }
  >>> .vue-treeselect__menu-container {
    .vue-treeselect__menu {
      margin-top: 10px;
      margin-bottom: 0px;
      color: #909399;
      /* 滚动条整体部分 */
      &::-webkit-scrollbar {
        width: 5px;
        background-color: transparent;
      }

      /* 滚动条中能上下移动的小块 */
      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.45);
        border-radius: 5px;
      }
      /* scroll轨道背景 */
      &::-webkit-scrollbar-track {
        border-radius: 5px;
        background-color: transparent;
      }
    }
    .vue-treeselect__option--highlight {
      background: rgba(244, 247, 250, 1);
    }
  }
  .vue-treeselect__multi-value-item {
    font-size: 10px;
    line-height: 24px;
    font-weight: 100;
    color: #292929;
  }
  .vue-treeselect__limit-tip {
    line-height: 24px;
  }
  >>> .vue-treeselect:not(.vue-treeselect--disabled):not(.vue-treeselect--focused)
    .vue-treeselect__control:hover {
    border: 1px solid rgba(55, 158, 252, 1);
  }

  .vue-treeselect__control-arrow {
    display: none;
  }
  .el-select {
    width: 100%;
  }

  // .vue-treeselect__control-arrow-container::before {
  //   content: "";
  // }
  .el-icon-loading {
    font-size: 80px;
  }
  .mgItem {
    .el-input {
      // width:calc(100% - 140px)
    }
  }
  .quillWrapper {
    .ql-toolbar.ql-snow {
      border-radius: 8px 8px 0 0;
    }
    .ql-container.ql-snow {
      border-radius: 0 0 8px 8px;
    }
    .ql-picker-label.ql-active::before {
      position: absolute;
    }
    .ql-snow .ql-picker.ql-header .ql-picker-label::before {
      position: absolute;
    }
    .ql-picker-label {
      svg:not(:root) {
        vertical-align: top;
      }
    }
  }
  .el-upload-list {
    position: relative;
    top: -100px;
    left: 160px;
  }
  .upload-img {
    .el-icon-close {
      display: none;
    }
    .avatar:hover .el-icon-close {
      display: inline-block;
      color: red;
    }
  }
  .el-icon-document {
    color: #fdd561;
  }
  .el-upload__tip2 {
    font-size: 12px;
    color: #606266;

    white-space: nowrap;

    color: red;
    cursor: pointer;
  }
  .el-upload-dragger {
    width: 260px;
    min-height: 130px;
    max-height: 260px;
    height: auto;
    .el-icon-upload {
      margin: 20px 0;
    }
  }
}
