@import "./variables.scss";

@mixin colorBtn($color) {
  background: $color;

  &:hover {
    color: $color;

    &:before,
    &:after {
      background: $color;
    }
  }
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.blue-btn {
  @include colorBtn($blue);
}

.light-blue-btn {
  @include colorBtn($light-blue);
}

.red-btn {
  @include colorBtn($red);
}

.pink-btn {
  @include colorBtn($pink);
}

.green-btn {
  @include colorBtn($green);
}

.tiffany-btn {
  @include colorBtn($tiffany);
}

.yellow-btn {
  @include colorBtn($yellow);
}

.vue-treeselect__x-container{
  position: relative;
  right:-16px;
}
.vue-treeselect__label{
  font-weight: 100;
}
.vue-treeselect__option--selected{
  .vue-treeselect__label{
    font-weight: 900;
  }
}
// .vue-treeselect__multi-value-item{
//   background: #F1F2F6;
// }
.vue-treeselect__control {
  height: 30px;
  border-radius: 4px;
}
vue-treeselect__control {
  height: 30px;
}


.vue-treeselect__control-arrow{
  display: none;
}
.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;

  &:hover {
    background: #fff;

    &:before,
    &:after {
      width: 100%;
      transition: 600ms ease all;
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    transition: 400ms ease all;
  }

  &::after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
}


.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  
  border-radius: 4px;
  
}
.button-cancel {
  padding: 8px 19px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 5px;
  background: #fff;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  // min-width: 101px;
}
.sendAllBtn {
  cursor: pointer;
  text-align: center;
  outline: none;
  border:none
  & > span {
    font-size: 12px;
    border-radius: 3px;
    display: inline-block;
    width: 96px;
    height: 32px;

    text-align: center !important;
    line-height: 30px;
    color: #fff;
    &:hover {
      background: #27829f !important;
    }
  }
}
.el-form-item__label {
  color: #292929;
  font-weight: 400;
}

//表格
.el-table {
  /* 表格字体颜色 */
  color: white;
  background-color: transparent;
  /* 表格边框颜色 */
  display: flex;
  flex-direction: column;
  height: 100%;

  .el-table__header-wrapper{
    flex-shrink: 0;
  }
  .iconxingzhuang1{
    color:red !important;
  }
  .el-table__body-wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    &::-webkit-scrollbar {
			width:4px;
			background-color: transparent;
		}

		/* 滚动条中能上下移动的小块 */
		&::-webkit-scrollbar-thumb {
      background:rgba(0,0,0,0.45);
      border-radius:5px;

		}
		/* scroll轨道背景 */
		&::-webkit-scrollbar-track {
			border-radius: 5px;
			background-color: transparent;
		}
  }
}
/* 表格内背景颜色 */
.el-table th,
.el-table tr,
.el-table td {
  border: 0;
  background-color: transparent;
  // padding: 0 4px;
  text-align: center;
}
/* 双数行背景颜色 */
/* 使表格背景透明 */
.el-table th,
.el-table tr {
  background-color: transparent;
}
/* 删除表格下横线 */
.el-table::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0px;
}
/* 表格表头字体颜色 */
.el-table thead {
  color: white;
  font-weight: 500;
  background: rgba(241, 242, 246, 1);
}
// .el-table th:hover,
// .el-table tr:hover,
// .el-table--enable-row-hover .el-table__body tr:hover > td,
.el-table th>.cell{
  font-size: 14px;
}
.el-table .cell {
  padding: 0 4px;
  white-space: nowrap;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  color:#292929
}
.el-table--medium td {
  padding: 9px 0;
}
.el-table--medium th {
  padding: 0;
  background: #f1f2f6;
  color: #292929;

}
.el-table--medium td {
  padding: 0;
}


.el-table th.is-leaf,
.el-table td {
  border: none;
}
.el-checkbox__input.is-disabled .el-checkbox__inner {
  background: transparent;
}
.el-table tbody td {
  border-bottom: 1px solid #ebeef5;
}
//下拉框
.select-option {
  margin-top: 6px !important;
  background: #fff;
  border-color: transparent;

  .el-select-dropdown__item.hover,
  .select-option .el-select-dropdown__item:hover {
    background:rgba(244,247,250,1);
    color:#379EFC;
  }

  .popper__arrow::after {
    border-bottom-color: #379EFC !important;
  }
  .popper__arrow {
    top: -7px !important;
  }

  .el-popper,
  .popper__arrow {
    display: none !important;
  }
}
.el-select:hover .el-input__inner {
  border-color: #379EFC;
}
.el-select>.el-input{
  height: 32px;
}


//不跳转分页
.numListJup{
  text-align: right;
}

//弹出框
.el-dialog__wrapper .el-dialog {
  // border: 1px solid #379EFC;
  box-shadow: 0px 2px 21px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  margin-top: 25%;
  .el-dialog__header {
    text-align: left;
    margin: 0 auto;
    background-color: #379EFC;
    font-size: 14px;
    padding: 0 0 0 16px;
    width: 100%;
    height: 50px;
    border-radius: 8px 8px 0 0;
    line-height: 34px;
    position: relative;
    .el-dialog__headerbtn {
      border: none;
      top: 18px !important;
      right:21px !important;
      .el-dialog__close{
      color:#fff;
      }
    }
    .el-dialog__title {
      line-height: 50px;
      color: #fff;
    }

  }

  .el-dialog__body {
    padding: 30px 20px;
    .dialog-footer {
      margin-top: 20px;
      text-align: right;
    }
  }
}

//input 框
.el-input--medium .el-input__inner {
  color: #292929;
  height: 32px;
  line-height: 32px;
}
.el-input--medium .el-input__inner::-webkit-input-placeholder,
.el-textarea__inner::-webkit-input-placeholder {
  color: #b1b1b1;
}

.el-input--medium .el-input__inner:-moz-placeholder,
.el-textarea__inner:-moz-placeholder {
  color: #b1b1b1;
}

.el-input--medium .el-input__inner::-moz-placeholder,
.el-textarea__inner::-moz-placeholder {
  color: #b1b1b1;
}

.el-input--medium .el-input__inner:-ms-input-placeholder,
.el-textarea__inner:-ms-input-placeholder {
  color: #b1b1b1;
}
.quill-editor {
  .ql-toolbar.ql-snow {
    border-radius: 8px 8px 0 0;
  }
  .ql-container.ql-snow {
    border-radius: 0 0 8px 8px;
  }
  .ql-picker-label.ql-active::before {
    position: absolute;
  }
  .ql-snow .ql-picker.ql-header .ql-picker-label::before {
    position: absolute;
  }
  .ql-snow .ql-picker.ql-size .ql-picker-label::before{
    position: absolute;
  }
  .ql-snow .ql-picker.ql-font .ql-picker-label::before{
    position: absolute;
  }
  .ql-picker-label {
    svg:not(:root) {
      vertical-align: top;
    }
  }
}
//编辑器
.el-textarea.el-input--medium {
  margin: 0px;
  .el-textarea__inner {
    background: transparent;
    border-color: #d8dce6;
    color: #292929;
    &:hover {
      border-color: #c7cbd6;
    }
    &:focus {
      border-color: #379EFC !important;
      color: #292929;
    }
    &:visited {
      color: #292929;
    }
  }
}

//时间控件
.el-date-picker{
  .el-date-picker__header{
    color:#292929;
  }
  .el-picker-panel__content{
    .el-date-table th{
      color:#292929;
    }
  }
}
.el-date-editor.el-input{
  width:100%;

} 
.vue-treeselect--multi .vue-treeselect__input{
  padding-top:0;
  margin-top:-3px
}
.el-input--medium .el-input__icon{
  line-height: 32px;
}
.el-date-editor.el-input__inner{
  width:100%
}

//单选复选框
.checkBoxs {
  .el-checkbox__input .el-checkbox__inner,
  .el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background: transparent;
    border-color: #379EFC;
    color: #fff;
    &::after {
      border-color: #379EFC;
    }
  }

  .el-checkbox__inner:focus {
    border-color: #379EFC;
  }
  .el-checkbox__label {
    color: #fff !important;
    padding-left: 6px;
  }
}

// 单选按钮
.radioButton {
  .el-radio__input .el-radio__inner {
    border: 1px solid #379EFC;
    background-color: transparent;
    &::after {
      width: 6px;
      height: 6px;
      background-color: #379EFC;
    }
  }
  .el-radio__label {
    color: #fff !important;
    padding-left: 6px;
  }
}

//树结构
.boardTree {
  padding-top: 6px;
  height: 450px;
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid #50dcf5;
  .el-tree {
    background: transparent;
    color: #fff;
    label {
      margin-bottom: 0;
    }
    .el-tree-node__content {
      &:hover {
        background: transparent;
      }
    }
    .el-tree-node:focus > .el-tree-node__content {
      background: transparent; //点击后颜色
    }
    .el-checkbox__inner {
      background: transparent;
      border-color: #379EFC;
    }
    .el-checkbox__inner::after {
      border-color: #379EFC;
    }
    .el-tree-node__expand-icon.expanded {
      transform: rotate(0deg);
    }
    .el-icon-caret-right:before {
      content: "\E62B";
      font-size: 12px;
      color: #00fefe;
    }
    .el-tree-node__expand-icon.expanded.el-icon-caret-right:before {
      content: "\E621";
      font-size: 12px;
      color: #00fefe;
    }
    .el-tree-node__expand-icon.is-leaf:before {
      color: transparent;
    }
  }
  .custom-tree-node {
    .iconfont {
      color: #379EFC;
      position: relative;
      top: 1px;
      margin-right: 6px;
    }
  }
}

//图标移动变大
.changeBig {
  transform: scale(1.1);
}

.el-radio-button--medium .el-radio-button__inner{
  padding: 8px 20px;
}

// 表格上方操作按钮
.button-tool {
  padding: 26px 0 12px 0 ;
  // height: 64px;
  .el-button {
    height: 32px;
    text-align: justify;
    font-size: 14px;
    line-height: 32px;
    padding: 0 15px;
    i{
      margin-right:4px;
      vertical-align: top;
      font-size: 14px;
    }
    span{
      // vertical-align: top;
      line-height: 32px;
    }
  }
  .el-button + .el-button {
    margin-left: 5px;
  }
 
  }


//提交查询发布等按钮
.button-sub {
  padding: 9px 25px;
  // min-width: 101px;
  cursor: pointer;
  text-align: center;
  background: #379EFC;
  border-radius: 4px;
  color: #fff !important;
  font-size: 14px;
  outline: none;
  border: none;
  &:focus{
    background: #379EFC;
  }
  &:hover {
    background: rgba(113, 160, 255, 1);
  }
  &:active {
    background: #4b7bdb;
  }



}
.el-button.is-disabled {
  background: #379EFC;
  opacity:0.5;
  border: 1px solid rgba(83, 227, 253, 1);
  color: #fff !important;
}

/*样式改变代码-----------------------------------------------------*/
/* 滚动条整体部分 */
.transfer-main::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

/* 滚动条中能上下移动的小块 */
.transfer-main::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.45);
  border-radius: 5px;
}
/* scroll轨道背景 */
.transfer-main::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}

// 页面右侧出现滚动条 添加此类
.scroll-width {
  width: calc(100% + 17px);
}

//单选按钮去发光
.el-radio-button:focus:not(.is-focus):not(:active):not(.is-disabled) {
  box-shadow: none !important;
  outline: none !important;
}

// svg图标
.icon-svg {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  font-size: 16px;
}
// 某一个字段lable过长
.special-col {
  .el-form-item__label {
    padding-right: 11px;
  }
}
.el-form-item--medium .el-form-item__label{
  line-height: 30px;
}
.baseMove{
  margin-top:15vh !important;
  .el-dialog .el-dialog__header {
    background-color: #fff ;
    .el-dialog__close {
      color: #909399 !important ;
    }
  }
}